  <div class="uk-cover-container uk-height-medium">
    <img src="<%= asset_path 'wallpapers/home_blured.jpg' %>" alt="cover" uk-cover>
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-column uk-flex-middle">
      <h1 class="title title-light uk-padding uk-padding-remove-bottom">Vous avez faim ?</h1>
      <div class="uk-width-1-1 uk-padding uk-text-center">
        <%= simple_form_for :search,
                            url: search_path,
                            :method => :get,
                            html: {
                              class: "uk-search uk-search-large uk-background-muted uk-search-default uk-width-1-1@s uk-width-1-2@m uk-align-center uk-margin",
                            },
                            defaults: {
                              wrapper: false,
                              :input_html => {
                                :class => 'uk-search-input'
                              }
                            } do |f| %>
          <span uk-search-icon></span>
          <%= f.input_field "q", label: false, :autofocus => true, :placeholder => "Rechercher un plat...", as: :string %>
        <% end %>
        <% if @random_recipe %>
          <a class="link-light" href="<%= recipe_path(@random_recipe) %>">Trouver une recette aléatoire</a>
        <% end %>
      </div>
    </div>
  </div>
  <% if @recipes.length > 0 %>
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <h2 class="title">Nos recettes les plus populaires</h2>
        <div class="uk-grid-small uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-2@s" uk-grid>
          <% @recipes.each do |recipe| %>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top recipe-img" style="background-image: url(
                        <% if recipe.image.attached? %>
                            <%= rails_blob_url recipe.image %>
                        <% else %>
                            <%= "https://picsum.photos/400/200" %>
                        <% end %>)">
                    </div>
                    <div class="uk-card-body">
                        <div uk-tooltip="<%= recipe.title %>">
                          <h3 class="uk-card-title uk-text-truncate" alt="<%= recipe.title %>%"><%= recipe.title %></h3>
                        </div>
                        <div class="star-ratings star-dark">
                            <div class="star-ratings-value" style="width: <%= recipe.score * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <p><%= truncate recipe.description, length: 42, separator: /\w+/ %></p>
                    </div>
                    <div class="uk-card-footer">
                        <%= link_to t("search.read_more"), recipe, class: "uk-button uk-button-text" %>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
