

<%= simple_form_for(@notebook) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :title, label: "Nom du carnet de recettes" %>
  <%= f.input :description, label: "Décrivez le style de carnet que  vous réaliser" %>
  <%#= f.input :recipes, collection: Recipe.all, as: :select, label: "Selectionnez votre première recette à ajouter"%>
  <div> Une photo de votre choix qui illustrera votre carnet de recettes : </div> <br>
  <%= f.file_field :image%>

  <div class="uk-margin-medium">
    <%= f.button :submit, :value => "Valider"%>
  </div>
<% end %>

