<%= simple_form_for(@notebook, class: '') do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if notebook.image.attached? %>
    <%= image_tag(notebook.image.variant(resize: '200x200')) %>
  <% else %>
    <%= image_tag("https://pngimage.net/wp-content/uploads/2018/06/not-found-png-3.png") %>
  <% end %>
  <div class="uk-form-horizontal">
    <%= f.label :image, label: t("notebook.form.img") %>
  </div>
  <%= f.file_field :image, :label => "test" %>
  <%= f.input :title, label: t('notebook.form.name') %>
  <%= f.input :description, as: :text, label: "Décrivez le style de carnet que vous réalisez", input_html: {class: "uk-textarea size_textarea", rows: "10"}, input_class: false %>
  <%#= f.input :recipes, collection: Recipe.all, as: :select, label: "Selectionnez votre première recette à ajouter"%>
  <%= f.button :submit, "Valider" %>
<% end %>

