<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="uk-container uk-padding">
  <h2 class="title"><%= t('notebook.title') %></h2>
  <div class="uk-margin-bottom">
    <%= link_to t('notebook.add'), new_notebook_path, :class => 'uk-button uk-button-primary uk-width-1' %>
  </div>
  <div class="uk-child-width-1-1@s uk-child-width-1-3@m" uk-grid="masonry: true" name="gridglobal">
    <% @notebooks.each do |notebook| %>
      <div>
        <div class="uk-card uk-card-default uk-width-1-1@m">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <%= image_tag(notebook.image.attached? ? notebook.image.variant(resize: '400x400') : "https://pngimage.net/wp-content/uploads/2018/06/not-found-png-3.png", class: 'uk-border-circle', width: 40, height: 40) %>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom"><%= link_to notebook.title, notebook, class: 'uk-card-title uk-margin-remove-bottom' %></h3>
                    <p class="uk-text-meta uk-margin-remove-top"><%= t("recipe.title.count", count: notebook.recipes.count) %></p>
                </div>
            </div>
          </div>
          <div class="uk-card-body">
            <p><%= notebook.description %></p>
          </div>
          <div class="uk-card-footer align-right">
            <%= link_to t('notebook.edite'), edit_notebook_path(notebook), class: "uk-button uk-button-text" %>
            <%= link_to t('notebook.delete'), notebook, method: :delete, class: "uk-button uk-button-text", data: { confirm: t('notebook.confirm_delete') } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
