<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="uk-child-width-1-1@m" uk-grid>
  <div>
    <% if @notebook.image.attached? %>
      <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-fixed" uk-parallax="blur: 4" style="background-image: url(<%= url_for(@notebook.image.variant resize: '1000x1000') %>;)"></div>
    <% else %>
      <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-fixed">
        <%= image_tag "https://bitsofco.de/content/images/2018/12/broken-1.png" %>
      </div>
    <% end %>
  </div>
</div>
<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">
        <%= link_to notebooks_path, class: 'uk-button uk-button-secondary uk-button-small' do %>
          <span uk-icon="icon: chevron-left"></span><%= t('notebook.back') %>
        <% end %>
        <h2 class="title"><%= @notebook.title %></h2>
        <p><%= @notebook.description %></p>
    </div>
</div>

<div class="uk-container uk-padding">
  <div class="uk-grid-small uk-child-width-1@s uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid>
    <% @notebook.recipes.each do |recipe| %>
      <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <%= link_to recipe do %>
                <div class="uk-card-media-top recipe-img recipe-search-img" style="
                <% if recipe.image.attached? %>
                    background-image: url(<%= rails_blob_url recipe.image %>);
                  <% else %>
                    <%= image_tag "https://picsum.photos/400/200" %>
                  <% end %>
                ">
                </div>
              <% end %>
            </div>
            <div class="uk-card-body">
              <div uk-tooltip="<%= recipe.title %>">
                <h3 class="uk-card-title uk-text-truncate"> <%= link_to recipe.title , recipe, class: "uk-button uk-button-text uk-text-truncate" %></h3>
              </div>
              <div uk-tooltip="<%= recipe.description %>">
                <p class="uk-text uk-text-truncate"> <%= recipe.description %></p>
              </div>
            </div>
            <div class="uk-card-footer">
              <td> <%= link_to remove_recipe_path(:notebook => @notebook, :id => recipe.id), class: 'uk-button uk-button-text uk-align-right', method: :post do %> </td>
                  <i class="far fa-trash-alt"></i>
                <% end %>
            </div>
        </div>
      </div>
    <% end %>
    <div>
      <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle ">
        <div class="uk-card-body">
          <%= simple_form_for @notebook, :url => add_recipe_url, :method => 'post' do |f| %>
            <%= f.input :id, :input_html => {:value => @notebook.id}, as: :hidden %>
            <%= f.input :recipes, label: t('recipe.name'), collection: Recipe.order('title').all, as: :select, input_class: false, input_html: {
              slimselect: true,
              slimselectNoResult: t('slimselect.recipes.no_result'),
              slimselectSearchPlaceholder: t('slimselect.recipes.search_placeholder'),
              slimselectPlaceholder: t('slimselect.recipes.placeholder'),
              }, defaults: {input_class: ""}  %>
            <%= f.button :submit, :value => "Ajouter cette recette" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
