<div class="uk-child-width-1-1@m" uk-grid>
  <div>
    <% if @notebook.image.attached? %>
      <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-fixed" uk-parallax="blur: 4" style="background-image: url(<%= url_for(@notebook.image.variant resize: '1000x1000') %>;)"></div>
    <% else %>
      <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-fixed" uk-parallax="blur: 4" style="background-image: url(https://pngimage.net/wp-content/uploads/2018/06/not-found-png-3.png;)"></div>
    <% end %>
  </div>
</div>
<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-container">
        <h2 class="title"><%= @notebook.title %></h2>
        <p><%= @notebook.description %></p>
    </div>
</div>

<div class="uk-container uk-padding">
  <div class="uk-grid-small uk-child-width-1@s uk-child-width-1-4@m" uk-grid>
    <% @notebook.recipes.each do |recipe| %>
      <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <% if recipe.image.attached? %>
                    <%= image_tag recipe.image, :crop => :fill %>
                <% else %>
                    <%= image_tag "https://picsum.photos/400/200" %>
                <% end %>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title"><%= recipe.title %></h3>
                <div class="star-ratings star-dark">
                    <div class="star-ratings-value" style="width: <%= recipe.score * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
                <p class="uk-text-truncate"><%= recipe.description %></p>
            </div>
            <div class="uk-card-footer">
                <%= link_to t("recipe.action.show"), recipe, class: "uk-button uk-button-text" %>
            </div>
        </div>
      </div>
    <% end %>
    <div>
      <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle ">
        <div class="uk-card-body">
          <%= simple_form_for @notebook, :url => add_recipe_url, :method => 'post' do |f| %>
            <%= f.input :id, :input_html => {:value => @notebook.id}, as: :hidden %>
            <%= f.input :recipes, label: t('recipe.name'), collection: Recipe.all, as: :select %>
            <%= f.button :submit, :value => "Ajouter cette recette" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
