<div class="uk-container uk-padding">
  <h1 class="title">Mon planning de repas</h1>
</div>
<div class="uk-margin">
  <div class="uk-grid-match uk-grid-small .uk-child-width-1-1 uk-flex-center" uk-grid>
    <% @day_meals.each do |day_meal| %>
      <div>
          <div class="uk-card uk-card-default <% if day_meal.date == Date.today %> <%= "orange-card" %> <% end %> meal-card uk-child-width-1-1@s uk-child-width-auto@l" uk-grid>
            <div class="day-name">
              <h4 class="title uk-padding"><%= t('date.day_names')[day_meal.date.wday] %></h4>
            </div>
            <div class="day-moment">
              <h5 class="title">Midi</h5>
            </div>
            <div class="meals">
              <%= link_to day_meal.midday_starter_recipe, { class: 'recipe-meal-link' } do %>
                <div class="recipe-img recipe-img-meal-plan" style="
                  <% if day_meal.midday_starter_recipe.image.attached? %>
                    background-image: url(<%= rails_blob_url day_meal.midday_starter_recipe.image %>);
                  <% end %>
                ">
                  <p class="title">
                    <%= day_meal.midday_starter_recipe.title %>
                  </p>
                </div>
              <% end %>

              <%= link_to day_meal.midday_dish_recipe, { class: 'recipe-meal-link' } do %>
                <div class="recipe-img recipe-img-meal-plan" style="
                  <% if day_meal.midday_dish_recipe.image.attached? %>
                    background-image: url(<%= rails_blob_url day_meal.midday_dish_recipe.image %>);
                  <% end %>
                ">
                  <p class="title">
                    <%= day_meal.midday_dish_recipe.title %>
                  </p>
                </div>
              <% end %>

              <%= link_to day_meal.midday_dessert_recipe, { class: 'recipe-meal-link' } do %>
                <div class="recipe-img recipe-img-meal-plan" style="
                  <% if day_meal.midday_dessert_recipe.image.attached? %>
                    background-image: url(<%= rails_blob_url day_meal.midday_dessert_recipe.image %>);
                  <% end %>
                ">
                  <p class="title">
                    <%= day_meal.midday_dessert_recipe.title %>
                  </p>
                </div>
              <% end %>
            </div>
            <div class="day-moment">
              <h5 class="title">Soir</h5>
            </div>
            <div class="meals">
              <%= link_to day_meal.evening_starter_recipe, { class: 'recipe-meal-link' } do %>
                <div class="recipe-img recipe-img-meal-plan" style="
                  <% if day_meal.evening_starter_recipe.image.attached? %>
                    background-image: url(<%= rails_blob_url day_meal.evening_starter_recipe.image %>);
                  <% end %>
                ">
                  <p class="title">
                    <%= day_meal.evening_starter_recipe.title %>
                  </p>
                </div>
              <% end %>

              <%= link_to day_meal.evening_dish_recipe, { class: 'recipe-meal-link' } do %>
              <div class="recipe-img recipe-img-meal-plan" style="
                <% if day_meal.evening_dish_recipe.image.attached? %>
                  background-image: url(<%= rails_blob_url day_meal.evening_dish_recipe.image %>);
                <% end %>
              ">
                <p class="title">
                  <%= day_meal.evening_dish_recipe.title %>
                </p>
              </div>
              <% end %>

              <%= link_to day_meal.evening_dessert_recipe, { class: 'recipe-meal-link' } do %>
                <div class="recipe-img recipe-img-meal-plan" style="
                  <% if day_meal.evening_dessert_recipe.image.attached? %>
                    background-image: url(<%= rails_blob_url day_meal.evening_dessert_recipe.image %>);
                  <% end %>
                ">
                  <p class="title">
                    <%= day_meal.evening_dessert_recipe.title %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>