<%= render 'landing_pages/shared/navbar' %>
<div class="cover">
  <div class="uk-cover-container" uk-height-viewport  uk-parallax="blur: 10">
    <img src="<%= asset_path 'cover.jpg' %>" alt="cover" uk-cover>
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-column uk-flex-middle cover-text-container">
      <h1>Ensemble gaspillons moins, mangeons mieux.</h1>
      <p class="uk-width-1-2@l uk-width-1-1@m uk-width-2-4@s uk-padding project-info">
        Recipy est la première application à proposer des recettes personnalisées en réduisant le gaspillage alimentaire. En effet, Recipy propose à ses utilisateurs de découvrir de nouvelles recettes basées sur leurs goûts, en consommant de manière locale. Enfin, l’application permet à l’utilisateur de ne pas se soucier de sa liste de courses hebdomadaire, car elle directement générée et intégrée dans les outils d’aujourd’hui et de demain.
      </p>
      <p class="uk-text-small">
        <a href="#concept" uk-scroll>Cliquez ici pour en savoir plus</a>
      </p>
      <div class="info uk-flex uk-flex-column uk-flex-middle">
        <a href="#concept" uk-scroll>
          <span class="down-icon bounce" uk-icon="icon: chevron-down; ratio: 2"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="concept">
  <div class="uk-section uk-section-large uk-section-secondary">
    <div class="uk-container">
      <h2 class="landing-title uk-margin">CONCEPT</h2>
      <p class="uk-text-small">
        Recipy est votre nouveau compagnon pour la réalisation de tous vos plats au quotidien. Il vous assiste dans la trouvaille de nouveaux plats succulents et dans leur réalisation. Au-delà de tout cela, nous nous engageons à vous apprendre une nouvelle manière de consommer, plus respectueuse pour l’environnement tout en restant dans vos frais. En effet, Recipy vous propose tout au long du parcours en sa compagnie, d’effectuer les achats de vos produits manquants auprès de producteurs locaux partenaires. Recipy est connecté aux technologies d’aujourd’hui et de demain pour vous proposer tous les jours la manières la plus simple de rendre agréable des moments du quotidien : « que va-t-on manger cette semaine ? » ou encore « où ai-je donc mis ma liste de course ? ». Plus d'embarras, Recipy contient de nombreuses fonctionnalités pour faciliter votre vie de cuisinier amateur ou professionnel. Recipy va vous prouver qu’il peut être simple d’éviter le gaspillage et le tout, en mangeant mieux !
      </p>
    </div>
  </div>
  <div class="uk-section uk-section-large uk-section-default">
    <div class="uk-container">
      <h2 class="landing-title uk-margin">UN SERVICE SIMPLE</h2>
    </div>
    <div class="uk-child-width-expand@s uk-margin uk-padding" uk-grid>
        <div class="uk-width-1-3@m uk-text-center">
          <img data-src="<%= asset_path 'landing/iphone.png' %>" alt="iphone" height="200" width="200" uk-img>
          <p class="uk-text-lead uk-text-center">Accessible et intégré aux outils d'avant, d’aujourd’hui et de demain.</p>
        </div>
        <div class="uk-width-1-3@m uk-text-center">
          <img data-src="<%= asset_path 'landing/cutlery.png' %>" alt="iphone" height="200" width="200" uk-img>
          <p class="uk-text-lead uk-text-center">Qui donne aux novices la possibilité de réaliser des recettes simples, délicieuses, le tout avec des produits locaux.</p>
        </div>
        <div class="uk-width-1-3@m uk-text-center">
          <img data-src="<%= asset_path 'landing/waste.png' %>" alt="iphone" height="200" width="200" uk-img>
          <p class="uk-text-lead uk-text-center">Permettant d’éviter le gaspillage des aliments restés dans la cuisine du consommateur.</p>
        </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-large uk-section-muted uk-section-secondary" id="join-us">
  <div class="uk-container uk-margin">
    <h2 class="landing-title">RECIPY ARRIVE BIENTÔT</h2>
    <p class="uk-text-saml">Inscrivez vous pour recevoir les informations sur l'évolution du projet.</p>
  </div>
  <div class="uk-container">
    <div class="uk-container uk-container-large">
      <%= simple_form_for Prospect.new,  url: landing_pages_path(Prospect.new), defaults: { input_html: { class: 'uk-input' }, label:false } do |f| %>
        <div class="uk-margin">
        <%= f.input :last_name, type: "text", placeholder: "Nom" %>
        </div>
        <div class="uk-margin">
        <%= f.input :first_name, placeholder: "Prénom"%>
        </div>
          <div class="uk-margin">
          <%= f.input :email, placeholder: "Email"%>
          </div>
        <%= f.button :submit, "Valider" ,class: 'uk-button uk-button-primary' %>
      <% end %>

      <p class="rgpd-small">
        *RECIPY, responsable du traitement, collecte votre nom, prénom et adresse email pour vous envoyer les actualités concernant RECIPY. Vous bénéficiez d'un droit d’accès, de rectification et d'opposition. Pour plus d'information sur vos droits informatique & Liberté cliquez <a href="#">ici</a>
      </p>
    </div>
  </div>



</div>
<div class="uk-section uk-section-small uk-section-default">
  <div class="uk-container uk-text-center uk-padding">
    <h2 class="landing-title uk-margin">ESSAYEZ LA BETA DÈS MAINTENANT</h2>
    <a href="/beta" class="button-landing">Accéder à la beta</a>
  </div>
</div>
<%= render 'landing_pages/shared/footer' %>
