<%= render 'landing_pages/shared/navbar' %>
<div class="cover">
  <div class="uk-cover-container" uk-height-viewport  uk-parallax="blur: 10">
    <img src="<%= asset_path 'cover.jpg' %>" alt="cover" uk-cover>
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-column uk-flex-middle cover-text-container uk-text-justify">
      <h1 class="uk-visible@m">Cassez votre routine alimentaire</h1>
      <h2 class="uk-hidden@m">Cassez votre routine alimentaire</h2>
      <p class="uk-width-1-2@l uk-width-1-1@m uk-width-2-4@s project-info uk-text-center uk-text-large uk-margin-medium-bottom uk-visible@m">
        Recipy est la première application intelligente qui permet de diversifier son alimentation tout en mangeant local.
      </p>
      <p class="uk-width-1-2@l uk-width-1-1@m uk-width-2-4@s project-info uk-text-center uk-hidden@m uk-padding">
        Recipy est la première application intelligente qui permet de diversifier son alimentation tout en mangeant local.
      </p>
      <p class="uk-text-large uk-margin-medium-bottom">
        <a class="uk-button uk-button-default uk-button-primary" href="/beta">Je veux manger !</a>
      </p>
      <div class="info uk-flex uk-flex-column uk-flex-middle">
        <a href="#concept" uk-scroll class="uk-visible@m">
          <span class="down-icon bounce" uk-icon="icon: chevron-down; ratio: 2"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="concept">
  <div class="uk-section uk-section-large uk-section-secondary">
    <div class="uk-container uk-text-justify">
      <h2 class="landing-title uk-margin">CONCEPT</h2>
      <p class="uk-text-small">
        Recipy prend en compte vos exigences alimentaires que vous soyez vegan ou intolérant au lactose, nous vous proposons une configuration des plannings de repas totalement personnalisée. En un clic, générez votre liste de course avec tous les ingrédients du planning de la semaine. Garde vos meilleurs recettes en les stockants dans un carnet de recette en ligne. Recipy améliore aussi la qualité de vos ingrédients en vous mettant en relation avec des producteurs locaux.
      </p>
    </div>
  </div>
  <div class="uk-section uk-section-large uk-section-default">
    <div class="uk-container">
      <h2 class="landing-title uk-margin">UN SERVICE SIMPLE</h2>
    </div>
    <div class="uk-child-width-expand@s uk-margin uk-padding" uk-grid>
        <div class="uk-width-1-3@m uk-text-center">
          <img data-src="<%= asset_path 'landing/iphone.png' %>" alt="iphone" height="200" width="200" uk-img>
          <p class="uk-text-lead uk-text-center">Accessible et intégré aux outils d'avant, d’aujourd’hui et de demain.</p>
        </div>
        <div class="uk-width-1-3@m uk-text-center">
          <img data-src="<%= asset_path 'landing/cutlery.png' %>" alt="iphone" height="200" width="200" uk-img>
          <p class="uk-text-lead uk-text-center">Qui donne aux novices la possibilité de réaliser des recettes simples, délicieuses avec des produits locaux.</p>
        </div>
        <div class="uk-width-1-3@m uk-text-center">
          <img data-src="<%= asset_path 'landing/waste.png' %>" alt="iphone" height="200" width="200" uk-img>
          <p class="uk-text-lead uk-text-center">Permettant d’éviter le gaspillage des aliments restés dans la cuisine du consommateur.</p>
        </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-secondary uk-padding-remove" id="our-team">
  <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div class="uk-padding">
      <h2 class="landing-title uk-margin uk-text-center">NOTRE EQUIPE</h2>
      <p class="uk-text-lrge uk-text-center uk-padding uk-text-italic">
        8 collaborateurs, tous issus de l'Epitech - Promo 2020
      </p>
    </div>
    <div class="uk-width-2-3@m">
      <img src="<%= asset_path 'landing/team.jpg' %>" alt="team" style="opacity: 0.85"/>
    </div>
  </div>
</div>

<div class="uk-section uk-section-small uk-section-default">
  <div class="uk-container uk-text-center uk-padding">
    <h2 class="landing-title uk-margin">ESSAYEZ LA BETA DÈS MAINTENANT</h2>
    <a href="/beta" class="button-landing">Accéder à la beta</a>
  </div>
</div>
<%= render 'landing_pages/shared/footer' %>
