<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<%= stylesheet_link_tag 'search' %>

<%= simple_form_for :search,
                    url: search_path,
                    :method => :get,
                    html: {
                        class: "uk-grid-small uk-grid uk-padding search_form"
                    },
                    defaults: {
                        wrapper_class: "uk-width-1-1",
                        required: false
                    } do |f| %>
    <%= f.input :q, :placeholder => t("search.search"), as: :string, input_html: { value: @search_query }, wrapper_class: "uk-width-2-3@s", label: false %>
    <div class="uk-width-1-3@s">
        <%= f.button :submit, t("search.search_btn"), class: "uk-width-1-1" %>
    </div>
    <div class="uk-width-1-1 uk-margin">
        <hr class="uk-divider-icon">
    </div>
    <%= f.input :difficulty, :label => t("search.difficulty"), :prompt => t("search.difficulty_max"), :selected => @search_difficulty, collection: 0..10, as: :select, input_html: { class: 'uk-select' }, wrapper_class: "uk-width-1-4@s" %>
    <%= f.input :ingredients, :label => t("search.ingredient"), :selected => @search_ingredients, collection: @ingredients_select, as: :select, :include_blank => false, input_class: false, input_html: {
        multiple: true,
        slimselect: true,
        slimselectNoResult: t('slimselect.ingredients.no_result'),
        slimselectSearchPlaceholder: t('slimselect.ingredients.search_placeholder'),
        slimselectPlaceholder: t('slimselect.ingredients.placeholder'),
    } , wrapper_class: "uk-width-1-4@s", defaults: { input_class: "" } %>
    <%= f.input :cooking_time, :label => t("search.cooking_time"), :prompt => t("search.time_max"), :selected => @search_time, collection: (0..@time_max).step(5), as: :select, input_html: { class: 'uk-select' }, wrapper_class: "uk-width-1-4@s" %>
    <%= f.input :sort, :label => t("search.sort_by"), :prompt => t("search.sort_by"), :selected => @sort, collection: @sort_possibilities, as: :select, input_html: { class: 'uk-select' }, wrapper_class: "uk-width-1-4@s", :label_method => lambda { |el| t "search.sort.#{el.first}" } %>
<% end %>
<div class="uk-grid-small uk-child-width-1@s uk-child-width-1-4@m uk-padding" uk-grid>
    <p class="uk-text-small uk-width-1-1"><%= @recipe_count %> résultats trouvés</p>
    <% if (@recipes.uniq.count > 0) %>
        <% @recipes.each do |recipe| %>
            <div>
                <div class="uk-card uk-card-default">
                  <%= link_to recipe do %>
                    <div class="uk-card-media-top recipe-img recipe-search-img" style="
                    <% if recipe.image.attached? %>
                      background-image: url(<%= rails_blob_url recipe.image %>);
                      <% else %>
                        <%= "https://picsum.photos/400/200" %>
                      <% end %>
                    ">
                    </div>
                  <% end %>
                    <div class="uk-card-body">
                        <div uk-tooltip="<%= recipe.title %>">
                          <h3 class="uk-card-title uk-text-truncate" alt="<%= recipe.title %>%"><%= link_to recipe.title, recipe, class: "uk-card-title uk-button uk-button-text uk-text-truncate" %></h3>
                        </div>
                        <div class="star-ratings star-dark">
                            <div class="star-ratings-value" style="width: <%= recipe.score * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <div uk-tooltip="<%= recipe.description %>">
                          <p><%= truncate recipe.description, length: 42, separator: /\w+/ %></p>
                        </div>
                        <div class="info-recipe">
                          <span class="info"> <i class="fas fa-hourglass-end"></i>  </b> <%= recipe.cooking_time + recipe.preparation_time%> minutes</span>
                          <span class="info"> <%= "Nombre d'ingrédients :" %>
                            <%= recipe.ingredients.count %>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="uk-width-1-1 uk-alert-primary" uk-alert><%= t("search.no_results") %></div>
    <% end %>
</div>

<ul class="uk-pagination uk-flex-center" uk-margin>
    <% if (@page > 1) %>
        <li><%= link_to "<span uk-pagination-previous></span>".html_safe, request.params.merge(page: @page - 1) %></li>
    <% end %>
    <% if @page + 1 > 3  %>
        <li><%= link_to "1", request.params.merge(page: 1) %></li>
        <% if @page - 1 > 2  %>
            <li class="uk-disabled"><span>...</span></li>
        <% end %>
    <% end %>
    <% for page in (@page - 1 <= 0 ? 1 : @page - 1)...(@page + 1 > @page_max ? @page_max + 1 : @page + 2) do %>
        <li class="<%= @page == page ? 'uk-active' : '' %>"><%= link_to "#{page}", request.params.merge(page: page) %></li>
    <% end %>
    <% if @page_max - 1 > @page %>
        <% if @page_max - 2 > @page  %>
            <li class="uk-disabled"><span>...</span></li>
        <% end %>
        <li><%= link_to "#{@page_max}", request.params.merge(page: @page_max) %></li>
    <% end %>
    <% if (@page < @page_max) %>
        <li><%= link_to "<span uk-pagination-next></span>".html_safe, request.params.merge(page: @page + 1) %></li>
    <% end %>
</ul>
