<div class="nested-fields uk-width-1-3">
  <div class="uk-card uk-card-default uk-card-body">
    <div class=" uk-grid">
      <div class="uk-width-1-1">
        <% if !f.object.ingredient.nil? %>
          <%= f.input :ingredient, :label => t("recipe.title.ingredient"), collection: Ingredient.where(:confirmed => true).all.map {|v| [v.name, v.id]}.to_a, as: :select, selected: f.object.ingredient.id,
                      :include_blank => false, input_class: false, input_html: {class: "uk-select"}, defaults: {input_class: "uk-select"} %>
        <% else %>
          <%= f.input :ingredient, :label => t("recipe.title.ingredient"), collection: Ingredient.where(:confirmed => true).all.map {|v| [v.name, v.id]}.to_a, as: :select,
                      :include_blank => false, input_class: false, input_html: {class: "uk-select"}, defaults: {input_class: "uk-select"} %>
        <% end %>
      </div>
      <% if f.object.recipe_quantity.nil? %>
        <%= f.simple_fields_for RecipeQuantity.new do |ff| %>
          <div class="uk-width-1-2">
            <%= ff.input :value, label: t("recipe.title.quantity_value") %>
          </div>
          <div class="uk-width-1-2">
            <%= ff.input :quantity_type, label: t("recipe.title.quantity_type"), as: :select, collection: QuantityType.all.map {|v| [v.name, v.id]}.to_a, input_html: {class: "uk-select"} %>
          </div>
        <% end %>
      <% else %>
        <%= f.simple_fields_for :recipe_quantity do |ff| %>
          <div class="uk-width-1-2">
            <%= ff.input :value, label: t("recipe.title.quantity_value") %>
          </div>
          <div class="uk-width-1-2">
            <%= ff.input :quantity_type, label: t("recipe.title.quantity_type"), as: :select,
                         collection: QuantityType.all.map {|v| [v.name, v.id]}.to_a, input_html: {class: "uk-select"}, selected: f.object.recipe_quantity.quantity_type.id %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="uk-text-center uk-margin-medium-top">
      <h4 class="uk-margin-remove"><%= link_to_remove_association t("recipe.action.delete_ingredient"), f, class: "uk-link" %></h4>
    </div>
  </div>
</div>
