  <div class="uk-container uk-padding">
    <h2 class="title"><%= t("recipe.title.index") %></h2>
    <div class="uk-grid-small uk-child-width-1@s uk-child-width-1-4@m" uk-grid>
      <% @recipes.each do |recipe| %>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <% if recipe.image.attached? %>
                        <%= image_tag recipe.image, :crop => :fill %>
                    <% else %>
                        <%= image_tag "https://picsum.photos/400/200" %>
                    <% end %>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><%= recipe.title %></h3>
                    <div class="star-ratings star-dark">
                        <div class="star-ratings-value" style="width: <%= recipe.score * 20 %>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <p class="uk-text-truncate"><%= recipe.description %></p>
                    <div class="info-recipe">
                      <span class="name">Difficulté</span>
                      <progress class="uk-progress" value=<%= recipe.difficulty %> max="10"></progress>
                    </div>
                </div>
                <div class="uk-card-footer">
                    <%= link_to t("recipe.action.show"), recipe, class: "uk-button uk-button-text" %>
                </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
