<div class="uk-child-width-1-1@m" uk-grid>
  <div>
    <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-fixed" uk-parallax="blur: 4" style="background-image: url(<%= @recipe.image.attached? ? url_for(@recipe.image.variant resize: '1000x1000') : "https://picsum.photos/400/200" %>;)"></div>
  </div>
</div>
<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">
    <h2 class="title"><%= @recipe.title %></h2>
    <p><%= @recipe.description %></p>
    <div class="uk-child-width-1-3@m" uk-grid>
      <div>
        <div class="uk-text-center">
          <h5 class="title"><%= t("recipe.title.score_with_count", count: @recipe.score_count) %></h5>
          <% if @recipe.score_count > 0 %>
            <div class="star-ratings uk-align-center">
              <div class="star-ratings-value" style="width: <%= @recipe.score * 20 %>%">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
            </div>
          <% else %>
            <p><%= t("recipe.title.no_score") %></p>
          <% end %>
        </div>
      </div>
      <div>
        <div class="uk-text-center">
          <h5 class="title"><%= t("recipe.title.time") %></h5>
          <p><%= minute_to_time(@recipe.cooking_time + @recipe.preparation_time) %></p>
        </div>
      </div>
      <div>
        <div class="uk-text-center">
          <h5 class="title"><%= t("recipe.title.difficulty") %></h5>
          <progress id="js-progressbar" class="uk-progress" value="<%= @recipe.difficulty %>" max="10"></progress>
        </div>
      </div>
    </div>
    <% if current_user && current_user.notebooks.count > 0 %>
      <a href="#addToNotebook" class="uk-button uk-button-default uk-button-small" uk-toggle><%= t('recipe.title.add_to_notebook') %></a>
    <% else %>
      <%= simple_form_for :notebook, :url => create_notebook_url, :method => 'post' do |f| %>
        <%= f.input :recipe_id, :input_html => {:value => @recipe.id}, as: :hidden %>
        <%= f.button :submit, t('recipe.create_notebook') %>
      <% end %>
  <% end %>
  </div>
</div>
<div id="addToNotebook" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <h2 class="uk-modal-title landing-title"><%= t('recipe.title.add_to_notebook') %></h2>
    <% if current_user.notebooks.count > 0 %>
      <%= simple_form_for @recipe, :url => recipe_add_to_notebook_url(@recipe), :method => 'post' do |f| %>
        <%= f.input :notebooks, collection: current_user.notebooks, label: false, as: :select, input_html: {
        slimselect: true,
        slimselectNoResult: t('slimselect.notebooks.no_result'),
        slimselectSearchPlaceholder: t('slimselect.notebooks.search_placeholder'),
        slimselectPlaceholder: t('slimselect.notebooks.placeholder'),
        } %>
        <%= f.button :submit, "Confirmer", class: 'uk-button uk-button-secondary uk-button-small', input_html: { 'uk-close': true } %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="uk-section uk-section-default">
  <div class="uk-child-width-1-2@m" uk-grid>
    <div>
      <div class="uk-padding">
        <% if @recipe.recipe_ingredients.count > 1 %>
          <h2 class="title"><%= "Ingrédients" %></h2>
        <% else %>
          <h2 class="title"><%= "Ingrédient" %></h2>
        <% end %>
        <div class="uk-card uk-card-default uk-card-body">
          <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-expand" uk-leader="fill: -"><%= recipe_ingredient.ingredient.name %></div>
              <% if (recipe_ingredient.recipe_quantity) %>
                <div><%= recipe_ingredient.recipe_quantity.value %> <%= recipe_ingredient.recipe_quantity.quantity_type.name %></div>
              <% end %>
            </div>
          <% end %>
          <% if current_user %>
            <% if ShoppingList.where(user_id: current_user.id).count > 0 %>
              <%= simple_form_for @recipe, :url => recipe_add_ingredients_to_list_url(@recipe), :method => 'post' do |f| %>
                <%= f.input :shopping_lists, collection: ShoppingList.where(user_id: current_user.id).order(:name), label: "Ajouter à une liste de courses :" %>
                <%= f.button :submit, "Confirmer" %>
              <% end %>
            <% else %>
              <%= button_to 'Créer une liste de course avec ces ingrédients', recipe_add_ingredients_to_new_list_url(@recipe), method: :post, class: "uk-button uk-button-default uk-margin-small-top" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="uk-padding">
        <% if @recipe.utensils.count > 1 %>
          <h2 class="title"><%= "Ustensiles" %></h2>
        <% else %>
          <h2 class="title"><%= "Ustensile" %></h2>
        <% end %>
        <div class="uk-card uk-card-default uk-card-body">
          <ul>
            <% @recipe.utensils.each do |ustensile| %>
              <li> <%= ustensile.title %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-container uk-padding">
        <h2 class="title"><%= t("recipe.title.preparation") %></h2>
        <div class="uk-card uk-card-default uk-card-body">
          <ul class="uk-list uk-list-bullet">
            <% @recipe.steps.each do |step| %>
              <li><%= step %></li>
            <% end %>
          </ul>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader="fill: -"><%= t("recipe.title.preparation_time") %></div>
            <div><%= minute_to_time(@recipe.preparation_time) %></div>
          </div>
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand" uk-leader="fill: -"><%= t("recipe.title.cooking_time") %></div>
            <div><%= minute_to_time(@recipe.cooking_time) %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="uk-divider-icon">
  <div class="uk-container">
    <div class="uk-flex uk-flex-middle uk-padding uk-padding-remove-left uk-padding-remove-right">
      <div>
        <h2 class="title uk-margin-remove-bottom"><%= t("recipe.title.all_feedback") %></h2>
      </div>
      <div class="uk-padding uk-padding-remove-top uk-padding-remove-bottom">
        <% if user_signed_in? %>
          <a class="uk-button uk-button-default uk-button-small" href="#feedback" uk-toggle><%= t('recipe.action.give_feedback') %></a>
        <% else %>
          <a class="uk-link-muted" href="<%= new_user_session_path(:next => request.original_url) %>"><%= t('recipe.title.connect_to_give_feedback') %></a>
        <% end %>
      </div>
    </div>
    <% if @recipe_feedbacks.length < 1 %>
      <p><%= t('recipe.title.no_feedback') %></p>
    <% else %>
      <% @recipe_feedbacks.each do |recipe_feedback| %>
        <hr>
        <article class="uk-comment">
          <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
            <% if recipe_feedback.user.avatar.attached? %>
              <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="<%= url_for(recipe_feedback.user.avatar.variant resize: '200x200') %>" width="50" height="50" alt="">
              </div>
            <% end %>
            <div class="uk-width-expand">
              <h4 class="uk-comment-title uk-margin-remove">
                <a class="uk-link-reset" href="#"><%= recipe_feedback.user.email %></a></h4>
              <% if recipe_feedback.value %>
                <div class="star-ratings star-dark">
                  <div class="star-ratings-value" style="width: <%= recipe_feedback.value * 20 %>%">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                </div>
              <% end %>
              <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><%= recipe_feedback.updated_at.to_time.strftime('%d/%m/%Y %H:%M') %></li>
              </ul>
            </div>
          </header>
          <% if recipe_feedback.content %>
            <div class="uk-comment-body">
              <p><%= recipe_feedback.content %></p>
            </div>
          <% end %>
        </article>
      <% end %>
    <% end %>
  </div>
</div>

<div id="feedback" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-modal-dark">
    <button class="uk-modal-close-outside" type="button" uk-close></button>
    <h2 class="uk-modal-title landing-title"><%= t('recipe.title.give_feedback_for', recipe_title: @recipe.title) %></h2>
    <%= simple_form_for :recipe_score,
                        url: recipe_feedback_path(:recipe_id => @recipe.id),
                        :method => :post,
                        defaults: {
                          wrapper: false,
                          label: false
                        } do |f| %>
      <div class="uk-margin">
        <%= f.input :value, :prompt => t("recipe.title.score"), :selected => (@feedback_user) ? @feedback_user.value : nil, collection: 0..5, as: :select, input_html: {class: 'uk-select'} %>
      </div>
      <div class="uk-margin">
        <%= f.text_area :content, :label => t("recipe.title.comment"), :prompt => t("recipe.title.comment"), :value => (@feedback_user) ? @feedback_user.content : nil, class: 'uk-textarea' %>
      </div>
      <div>
        <%= f.button :submit, t("recipe.action.feedback"), :class => "uk-button uk-button-primary" %>
      </div>
    <% end %>
  </div>
</div>
