<div class="uk-section uk-section-small uk-section-muted uk-section-footer app_footer">
  <div class="uk-flex-middle uk-grid uk-text-center" uk-grid="">
    <div class="uk-width-expand@s uk-first-column">
      <h3> A propos de Recipy</h3>
      <ul class="uk-list">
        <li><%= link_to 'Le concept', '#'%></li>
        <li><%= link_to 'A propos de l\'équipe', '#'%></li>
        <li><%= link_to 'Besoin d\'aide ?', '#'%></li>
      </ul>
    </div>
    <div class="uk-width-expand@s">
      <h3> Une question ?</h3>
      <ul class="uk-list">
        <li><%= link_to 'Vous êtes producteur ? ', '#'%></li>
        <li><%= link_to 'Question fréquentes', '#'%></li>
        <li><%= link_to 'Presse', '#'%></li>
      </ul>

    </div>
    <div class="uk-width-expand@s">
      <a href="mailto:recipyhq@gmail.com" class="uk-text-center uk-h4 uk-scrollspy-inview uk-animation-slide-top-small" uk-scrollspy-class>recipyhq@gmail.com</a>
    </div>
  </div>
</div>
