<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @meal.type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meal.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @meal.time %>
</p>

<p>
  <strong>Done:</strong>
  <%= @meal.done %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
