 <h2><%= t(".sign_in") %></h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <form class="uk-panel uk-panel-box uk-form">

       <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

       </form>

      <div class="form-actions">
        <%= f.button :submit, t(".sign_in")%>
      </div>
    <% end %>

  <%= render "devise/shared/links" %>
</div>
