<div class="uk-position-center">
  <div class="uk-width-large">
    <h2 class="uk-text-center"><%= t('.sign_in') %></h2>

    <%= render 'devise/shared/omniauth' %>

    <hr class="uk-divider-icon">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true %>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <div class="uk-margin-medium">
        <%= f.button :submit, t('.sign_in'), class: 'uk-width-1-1' %>
      </div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>
