<%= simple_form_for(@shopping_list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name, label: "Titre" %>

  <div id="shopping_list_ingredients" uk-grid>
    <%= f.simple_fields_for :shopping_list_ingredients do |ingredient| %>
      <% unless ingredient.object.ingredient.nil? %>
        <%= render "edit_shopping_list_ingredient_fields", f: ingredient %>
      <% end %>
    <% end %>
  </div>
  <div>
    <div class="uk-text-center uk-margin-small-top">
      <h3><%= link_to_add_association t("recipe.action.new_ingredient"), f, :shopping_list_ingredients, partial: 'edit_shopping_list_ingredient_fields', data: {
        association_insertion_node: '#shopping_list_ingredients', association_insertion_method: :append
      }, class: "uk-link" %></h3>
    </div>
  </div>

  <div class="uk-margin-medium">
    <div class="uk-text-center">
      <%= f.button :submit, "Confirmer" %>
    </div>
  </div>
<% end %>
