<%= simple_form_for(@shopping_list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name, label: "Titre", :input_html => { :value => @shopping_list.name } %>

  <%= f.input :ingredient_ids, :label => false, :selected => @shopping_list.ingredient_ids, collection: Ingredient.order(:name).where(:confirmed => true).all.map { |v| [v.name, v.id] }.to_a, as: :select, :include_blank => false, input_class: false, input_html: {
    multiple: true,
    slimselect: true,
    slimselectNoResult: t('slimselect.ingredients.no_result'),
    slimselectSearchPlaceholder: t('slimselect.ingredients.search_placeholder'),
    slimselectPlaceholder: t('slimselect.ingredients.placeholder'),
  } , wrapper_class: "", defaults: { input_class: "" } %>

  <div class="uk-margin-medium">
    <div class="uk-text-center">
      <%= f.button :submit, "Confirmer" %>
    </div>
  </div>
<% end %>
