<%= simple_form_for(ShoppingList.new) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name, label: "Titre"%>

  <%= f.simple_fields_for ShoppingListIngredient.new do |ff| %>
    <div id="shopping_list_ingredients" uk-grid="masonry: true">
    </div>
  <% end %>
  <div>
    <div class="uk-text-center uk-margin-small-top">
      <h3><%= link_to_add_association t("recipe.action.new_ingredient"), f, :shopping_list_ingredients, partial: 'shopping_list_ingredient_fields', data: {
        association_insertion_node: '#shopping_list_ingredients', association_insertion_method: :append
      }, class: "uk-link" %></h3>
    </div>
  </div>

  <div class="uk-margin-medium">
    <div class="uk-text-center">
      <%= f.button :submit, "Confirmer" %>
    </div>
  </div>
<% end %>
