<div class="nested-fields uk-width-1-2">
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title"><%= t("recipe.title.new_ingredient_elem") %></h3>
    <div class=" uk-grid">
      <div id="select_container" class="uk-width-1-1">
        <%= f.input :ingredient, :label => t("recipe.title.ingredient "), collection: Ingredient.where(:confirmed => true).order(:name).all.map {|v| [v.name, v.id]}.to_a, as: :select, :include_blank => false, input_class: false, input_html: {
          slimselect: true,
          slimselectNoResult: t('slimselect.ustensils.no_result'),
          slimselectSearchPlaceholder: t('slimselect.ustensils.search_placeholder'),
          slimselectPlaceholder: t('slimselect.ustensils.placeholder'),
        }, defaults: {input_class: ""} %>
      </div>

      <%= f.simple_fields_for ShoppingListQuantity.new do |ff| %>
        <div class="uk-width-1-2 uk-margin-small-top">
          <%= ff.input :value, label: t("recipe.title.quantity_value") %>
        </div>
        <div class="uk-width-1-2 uk-margin-small-top">
          <%= ff.input :quantity_type, label: "Type", as: :select, collection: QuantityType.order(:name).all.map {|v| [v.name, v.id]}.to_a %>
        </div>
      <% end %>
    </div>
    <div class="uk-text-center uk-margin-medium-top">
      <h4 class="uk-margin-remove"><%= link_to_remove_association t("recipe.action.delete_ingredient"), f, class: "uk-link" %></h4>
    </div>
  </div>
</div>
