<div class="uk-container uk-padding">
  <h2 class="title">Liste de courses : "<%= @shopping_list.name %>"</h2>
  <div class="uk-align-center">
    <ul class="uk-list uk-list-bullet">
      <% @shopping_list.ingredients.each do |ingredient| %>
        <li>
          <%= ingredient.name %>
        </li>
      <% end %>
    </ul>
    <p class="uk-button uk-button-default"><%= link_to t("recipe.action.edit"), edit_shopping_list_path(@shopping_list) %></p>
    <p class="uk-button uk-button-default"> <%= link_to t("recipe.action.destroy"), @shopping_list, method: :delete, data: {confirm: t("recipe.action.confirm")} %></p>
    <p><%= link_to "Retour à mes listes de courses", shopping_lists_path , :class=>"uk-text-center uk-button uk-button-text"%></p>
  </div>
</div>
