
<div class="uk-child-width-1-1@m" uk-grid>
  <div>
    <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-fixed" uk-parallax="blur: 4" style="background-image: url(<%= asset_path 'producer/producer_background.jpg' %>;)"></div>
  </div>
</div>
<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">
    <h2 class="title"><%= @user.first_name %> <%= @user.last_name %></h2>
  </div>
</div>
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <h3 class="title">Description</h3>
    <p><%= @user.bio %></p>
  </div>
</div>

<%= render 'point_of_sales/index' %>