<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message:
                             f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.association :product_tags, as: :check_boxes, :label => t("products.tag"),
                    input_html: {class: 'uk-checkbox uk-margin-left'},
                    collection: ProductTag.all %>

  <%= f.input :ingredient, collection: Ingredient.all.map {|v| [v.name, v.id]}.to_a,
              as: :select, :include_blank => false, :label => t("ingredient.label"),
              :selected => @product.ingredient.id%>

  <%= f.association :point_of_sales, as: :check_boxes, :label => t("point_of_sale.label"),
                    input_html: {class: 'uk-checkbox uk-margin-left'},
                    collection: PointOfSale..where(user: current_user).includes(:address).all.map {|t|
                      [t.name + " (" + t.address.entilted + " / " + t.address.city + ")", t.id]} %>

  <%= f.simple_fields_for :price, @product.price do |a| %>
    <%= a.input :value, :label => t("products.price.label")%>
    <%= a.input :quantity_type, :label => t("quantity_type.label"),
                collection: QuantityType.all.map {|v| [v.name, v.id]}.to_a,
                as: :select, :include_blank => false,
                :selected => @product.price.quantity_type.id %>
  <% end %>

  <div class="uk-margin-medium">
    <%= f.button :submit %>
  </div>
<% end %>
