<h1><%= t("products.title") %></h1>

<% if flash[:success] %>
  <div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= flash[:success] %></p>
  </div>
<% end %>
<% if flash[:danger] %>
  <div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= flash[:danger] %></p>
  </div>
<% end %>

<%= render 'form_new', product: @product %>

<%= link_to t("recipe.action.back"), show_producer_path(current_user.id) %>
