<nav class="uk-navbar-container " uk-navbar>
  <div class="uk-navbar-left">
      <%= link_to 'Recipy', '#', :class => "uk-navbar-item uk-logo"%>
      <%= link_to 'Recette', '#', :style => 'color:#424242;', :class => "uk-padding-small"%>
      <%= link_to 'Mes Plannings', '#', :style => 'color:#424242;', :class => "uk-padding-small"%>
      <%= link_to 'Connexion', new_user_session_path, :style => 'color:#424242;', :class => "uk-padding-small"%>
      <%= link_to 'Déconnexion', '#', :style => 'color:#424242;', :class => "uk-padding-small"%>
  </div>
  <div class="uk-navbar-right">
      <form action="javascript:void(0)">
        <input class="uk-input uk-form-width-medium" type="text" placeholder="crêpes, carotte...">
        <button class="uk-button uk-button-small">Rechercher</button>
      </form>
    </div>
  </div>
</nav>
